<IfModule mod_rewrite.c>
    Options -Indexes
    ErrorDocument 403 /public/index.php

    RewriteEngine On

    # Pastikan akses ke file/folder yang memang ada tetap bisa
    RewriteCond %{REQUEST_FILENAME} !-f
    RewriteCond %{REQUEST_FILENAME} !-d

    # Redirect semua request ke public/index.php
    RewriteRule ^(.*)$ public/index.php [L]
</IfModule>